@import "tailwindcss";

:root {
  --primary: #328983;
  --primary-dark: #309a93;
  --primary-light: #4a9b95;
  --secondary: #f5f5f7;
  --accent: #1d1d1f;
  --light-bg: #ffffff;
  --dark-bg: #000000;
  --text-dark: #1d1d1f;
  --text-light: #f5f5f7;
  --text-secondary: #86868b;
  --border-light: #e5e5e7;
  --border-dark: #2d2d2f;
  --card-bg-light: #ffffff;
  --card-bg-dark: #1d1d1f;

  --background: var(--light-bg);
  --foreground: var(--text-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-bg);
    --foreground: var(--text-light);
  }
}

body {
  font-family:
    "SF Pro Display",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  letter-spacing: -0.015em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
